* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    font-weight: bold;
}

.logo {
    position: relative; /* Tambahkan ini untuk membuat posisi absolut relatif terhadap elemen ini */
    text-align: center;
    background-color: white;
}

figcaption {
    margin-top: 0;
}

.MOTTO {
    bottom: 0; /* Letakkan di bagian bawah gambar */
    left: 0; /* Agar terletak di sebelah kiri gambar */
    right: 0; /* Agar terletak di sebelah kanan gambar */
    margin : auto;
    font-size: 30px;
    color: #1233ee;
    font-style: italic;
}


.logo img {
    max-width: 100%;
    height: 70vh;
    width: 100%;
}

.logo-small {
    text-align: center;
    margin-bottom: 20px;
    max-height: 100%;
}

.logo-small img {
    max-width: 100px;
    height: auto;
}

.login-heading {
    margin-bottom: 20px;
    color: #1233ee;
}

.login-form {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
    color: #1233ee;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: #eab21f;
    color: #1233ee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffd51c;
}

.Login {
    margin-top: 30px;
}

.register-link {
    text-align: center;
    margin-top: 10px;
}

.register-link span:hover {
    text-decoration: underline;
}

.belumpunya {
    color: rgb(90, 83, 83);
    font-size: 15px;
}

.daftarnow {
    cursor: pointer;
    color: #1233ee;
    font-weight: bold;
    font-size: 15px;
}

.OR {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

.social-box {
    display: flex;
    justify-content: space-around; /* Menyebarkan item di sepanjang sumbu utama */
    margin-top: 20px;
}

.social-box-item {
    text-align: center;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 230px;
    height: 73px;
    cursor: pointer;
}